:root {
  --primary-text-color: #2196f3;
  --secondary-text-color: #212121;
  --other-text-color: #757575;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.header .item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header .item:hover,
.header .item:focus {
  color: var(--primary-text-color);
}

.header .link-active {
  color: var(--primary-text-color);
}

.email-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--other-text-color);
}

.email-header:hover,
.email-header:focus {
  color: var(--primary-text-color);
}
.phone-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--other-text-color);
}

.tagline {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
}

.button-order {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button-order:hover,
.button-order:focus {
  color: #188ce8;
}

.button-order {
  background-color: #188ce8;
}

.adv-list .item-head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.adv-list .item-body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--other-text-color);
}

.section-what-are-we-doing,
.section-our-team {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employee-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employee-position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--other-text-color);
}

.address-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #000000;
}

.email-footer,
.phone-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff 60%;
}

.gallary .list-filters {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.gallary .filter:hover,
.gallary .filter:focus {
  background-color: var(--primary-text-color);
}

.list-portfolio .project-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.list-portfolio .project-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--other-text-color);
}
